.icon {
    font-size: 24px; /* Ukuran default ikon */
    align-content: center;
    margin-top: 5px;
  }
  
  .notification-icon .icon {
    font-size: 24px; /* Ukuran khusus untuk ikon notification */
  }
  
  .person-icon {
    font-size: 24px; /* Ukuran khusus untuk ikon profile */
  }
  